In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
#import the required libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns

In [4]:
#read the data in a dataframe

In [5]:
data = pd.read_csv('Housing (1).csv')
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [6]:
#make a copy of the original data set
df = data.copy()
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
#convert the string values to numerical so that the ML model can be trained

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['mainroad'] = le.fit_transform(df['mainroad'])
df['guestroom'] = le.fit_transform(df['guestroom'])
df['basement'] = le.fit_transform(df['basement'])
df['hotwaterheating'] = le.fit_transform(df['hotwaterheating'])
df['airconditioning'] = le.fit_transform(df['airconditioning'])
df['prefarea'] = le.fit_transform(df['prefarea'])
df['furnishingstatus'] = le.fit_transform(df['furnishingstatus'])

In [9]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,0

In [10]:
X = df.drop(['price'],axis =1)
#0 is for rows , 1 is for columns
y = df.price

In [11]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,0
1,8960,4,4,4,1,0,0,0,1,3,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,0
4,7420,4,1,2,1,1,1,0,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,2
541,2400,3,1,1,0,0,0,0,0,0,0,1
542,3620,2,1,1,1,0,0,0,0,0,0,2
543,2910,3,1,1,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,2

In [12]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [13]:
#spliting the data in train and test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X,y, test_size=0.2, random_state =11)

In [14]:
X_train.shape

(436, 12)

In [15]:
X_test.shape

(109, 12)

In [16]:
545*0.2
#20 percent is taken as the test_set(that is the test size=0.2)

109.0

In [17]:
#create a linear regression model

In [18]:
model=linear_model.LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [19]:
print('R2 score is: ', model.score(X_train,y_train))

R2 score is:  0.6887894702113726

In [23]:
from sklearn.tree import DecisionTreeRegressor
model1 = DecisionTreeRegressor()

In [24]:
model1.fit(X_train, y_train)

DecisionTreeRegressor()

In [25]:
print('R2 score is: ', model1.score(X_train,y_train))

R2 score is:  0.9987526580712995

In [30]:
from sklearn.ensemble import RandomForestRegressor
model2 = RandomForestRegressor()
model2.fit(X_train, y_train)

RandomForestRegressor()

In [31]:
print('R2 score is: ', model2.score(X_train,y_train))

R2 score is:  0.9436718634328117

In [32]:
predictions2 = model2.predict(X_train)
predictions2 = np.round(predictions,1)
print(predictions2)

[ 5691265.5  4275967.5  5847763.7  5693801.   4794494.9  3105889.2
  7500065.9  5452773.5  5741271.   6530777.3  6662873.1  6542742.8
  4049946.8  4889520.2  4167069.9  2444642.2  5219290.2  5736726.7
  6877444.1  4825367.9  4764737.9  3315567.1  3550205.5  3960506.3
  2931999.9  5502403.4  3287374.6  4092258.2  5377284.9  6629446.1
  6755610.   3708001.9  5900908.1  4636968.   2544188.   6729531.1
  6141470.2  4162904.8  4269326.7  3895892.6  3976284.8  3966165.2
  7058574.1  6458455.   6671932.6  5276267.4  4467512.8  5981934.6
  8289823.7  3879972.9  4527219.4  4875002.9  4563416.5  6433703.2
  3405609.9  6724885.   2788160.3  6373233.   4268945.4  6719488.8
  4701092.8  2241161.7  4454282.5  3755009.6  4349803.6  5112183.3
  6436189.8  4139739.8  4887314.3  5914409.1  2857448.9  7834817.
  3773093.   5810984.   4984442.7  5487926.3  5714572.2  4210528.4
  4921690.   4413398.6  4426538.9  3078529.1  4109017.6  3220813.
  3745426.8  3712963.1  4302732.9  4043020.6  7049634.   6725252.4
  3244730.2  8326242.   3059372.   3946482.8  3824772.2  5701362.8
  3125144.1  7060911.6  6561323.5  4864999.3  2596822.6  5205652.2
  3105776.7  5149051.   7312747.5  4601769.4  4271694.9  6140609.5
  4384627.   7021357.   7333794.9  4285780.5  6410139.1  3982945.9
  7722553.8  4384627.   4061183.2  4788124.4  8077218.2  4187895.3
  7753651.   5452516.5  3655873.3  4126780.1  6931597.   3916982.
  5598140.7  3837453.1  3337462.7  3661138.7  3298544.2  3182665.9
  5259509.4  4116777.9  4110583.   6009771.1  3272708.6  5206672.1
  4897620.6  3698363.7  6402027.3  7797985.3  6931219.   2926036.8
  4768097.7  7132061.   7370229.3  3766231.8  7598916.5  3839475.3
  4059442.4  4181861.   3791133.7  5412789.9  5455698.4  5112465.4
  3378418.   2676706.1  5183757.2  7138265.   3013808.9  7112076.4
  6024096.2  5611667.5  5134135.6  4686936.2  8124891.5  6082098.
  3388162.2  3508594.   5007533.9  5010296.4  5800703.4  2557712.3
  3142135.1  7238197.2  2756996.1  5216333.4  6232855.   2922096.7
  4028847.3  5878870.1  4261565.3  3501840.5  4525426.1  4939454.7
  7410023.2  8583871.6  4880260.1  5295639.   7618280.4  5128241.6
  3581489.6  2205301.8  3719487.2  5961189.   7912673.7  6054906.9
  3095127.4  6213569.2  5838527.4  7924185.5  8062843.2  4313139.4
  3110248.6  3335070.4  3131476.6  3900727.5  5066905.8  6436788.8
  6362649.   5224330.6  7401589.2  2754097.7  3991125.   4379210.8
  2687338.   4379618.3  2454145.3  4684291.4  3927495.7  3391468.
  6110124.9  5735631.1  6901754.8  5752390.6  4589247.7  4846613.7
  6250960.3  3211487.9  5436022.8  3822930.2  3968275.5  8316365.7
  5598192.2  2771347.   2124689.6  6472715.3  4236252.2  3797105.4
  8510470.4  4671093.1  2196441.2  4499361.4  4659337.8  3701847.2
  7663608.3  4122259.9  7782285.6  4309760.7  5864322.4  5827357.2
  4040103.6  3555725.8  3219264.   6222915.8  5044886.8  3705489.8
  3433082.4  3550522.6  6034137.5  4916683.1  4834260.   4160849.3
  2601606.   6206855.4  5243044.2  7380304.1  2842624.7  3362173.5
  2897930.6  7351095.5  3582542.9  3520076.4  7420255.8  3156846.2
  4454282.5  2757822.7  2746658.3  6407139.1  6892768.9  5144739.5
  4401031.8  5442610.4  5772533.3  5252682.4  5170292.8  3704167.6
  7967223.   5271765.5  7118076.   3556007.2  8325981.3  2942900.
  5046129.1  2608542.   2653380.5  2963726.5  3568512.9  3196895.8
  2730510.1  2072914.4  2378983.5  3272516.2  3763605.3  7174643.6
  8475066.8  2943493.8  6270730.2  2606389.5  4090942.3  2933453.5
  7036011.1  4170541.9  2718607.9  3394686.4  6363869.6  5577676.8
  7531111.6  3749432.6  3592462.9  2933333.1  2649911.6  9924618.3
  2702058.4  5874850.8  3939628.9  3244730.2  4541242.9  3808752.4
  3414334.   4978471.4  3166999.5  5231118.4  3382893.3  4155727.2
  4415357.7  5923344.1  3469850.2  6958885.8  4033292.6  5107295.5
  5302018.5  5719352.3  5166309.   4449700.5  4301395.7  6267636.2
  6412855.2  2722741.1  6455070.8  3598633.7  3402110.5  4051221.6
  4030813.   4890420.7  6288036.8  6939776.5  5987761.1  4697454.2
  5528010.   3043352.3  3496936.7  2606389.5  3068938.9  5343796.9
  4065509.4  6248516.6  3020086.   3235516.7  5610432.8  3793086.1
  3577428.5  5162817.5  6650651.2  6776482.6  4349667.4  2787125.2
  3045887.7  4561389.2  4224276.9  3133621.5  3591110.8  4103142.3
  6421833.8  5142779.7  5544263.4  4851791.8  2644657.   3816945.5
  3509489.1  5288859.   3413940.6 10972102.4  5411542.5  5190165.5
  5726431.3  4843419.8  6165255.   4780351.9  5855054.3  4693700.6
  3919300.2  2692491.5  4985841.1  2285777.6  3114255.5  6538585.9
  4898655.   4497800.8  3369099.8  5059461.   3624156.5  7782736.2
  6751473.   6847508.8  7234597.5  4467389.8  4437125.9  2934938.7
  3307902.4  2692491.5  2594414.2  6132676.8  2645130.6  3747063.5
  2017062.1  8535610.1  6581611.7  4490294.5  3715461.2  4642683.2
  3256688.8  4578064.1  5787540.6  5764858.2]

In [34]:
X_train['Actuals']=y_train
X_train['Pred']= predictions2
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Actuals,Pred
123,7320,4,2,2,1,0,0,0,0,0,0,0,5950000,5691265.5
294,4000,4,2,2,0,0,0,0,0,0,0,1,4200000,4275967.5
296,4600,3,2,2,1,0,0,0,1,1,0,1,4200000,5847763.7
169,6540,4,2,2,0,0,0,0,1,0,0,1,5250000,5693801.0
216,6040,3,1,1,1,0,0,0,0,2,1,1,4830000,4794494.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,5500,4,1,2,1,1,1,0,0,0,0,1,3920000,4642683.2
269,3900,3,1,2,1,0,0,0,0,0,0,2,4375000,3256688.8
337,2145,4,2,1,1,0,1,0,0,0,1,2,3920000,4578064.1
91,6750,2,1,1,1,1,1,0,0,2,1,0,6419000,5787540.6
80,6000,3,1,2,1,0,0,1,0,1,1,1,6629000,5764858.2

In [35]:
pred_test = model2.predict(X_test)
pred_test = np.round(pred_test,1)

In [38]:
X_test['Actuals'] = y_test
X_test['Pred'] = pred_test
X_test

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Actuals,Pred
136,5400,4,2,2,1,0,0,0,1,2,0,2,5740000,6065109.4
184,3000,3,2,2,1,1,1,0,0,0,0,0,5110000,4848970.0
375,5960,3,1,2,1,1,1,0,0,0,0,2,3640000,4998490.0
70,4000,3,2,2,1,0,1,0,1,0,1,1,6790000,5565350.0
104,5500,3,2,1,1,1,1,0,0,2,1,0,6195000,7082110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,3180,2,2,1,1,0,1,0,0,2,0,1,3850000,4239270.0
444,3120,3,1,2,0,0,0,0,0,0,0,0,3220000,3145730.0
366,3630,2,1,1,1,0,1,0,0,0,0,0,3675000,3823435.0
485,3630,2,1,1,1,0,0,0,0,0,0,2,2870000,2484521.7
26,6000,3,2,4,1,1,1,0,1,0,1,1,8463000,7264145.0

In [39]:
#merge the train and test dataset
data_pred = X_train.append(X_test)
data_pred

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Actuals,Pred
123,7320,4,2,2,1,0,0,0,0,0,0,0,5950000,5691265.5
294,4000,4,2,2,0,0,0,0,0,0,0,1,4200000,4275967.5
296,4600,3,2,2,1,0,0,0,1,1,0,1,4200000,5847763.7
169,6540,4,2,2,0,0,0,0,1,0,0,1,5250000,5693801.0
216,6040,3,1,1,1,0,0,0,0,2,1,1,4830000,4794494.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,3180,2,2,1,1,0,1,0,0,2,0,1,3850000,4239270.0
444,3120,3,1,2,0,0,0,0,0,0,0,0,3220000,3145730.0
366,3630,2,1,1,1,0,1,0,0,0,0,0,3675000,3823435.0
485,3630,2,1,1,1,0,0,0,0,0,0,2,2870000,2484521.7
26,6000,3,2,4,1,1,1,0,1,0,1,1,8463000,7264145.0

In [40]:
data_pred.shape

(545, 14)

In [41]:
#order and label encoded

In [42]:
data_complete =pd.merge(data,data_pred, how ='inner', left_on=['area', 'price'], right_on=['area', 'Actuals'])
data_complete

,price,area,bedrooms_x,bathrooms_x,stories_x,mainroad_x,guestroom_x,basement_x,hotwaterheating_x,airconditioning_x,...,mainroad_y,guestroom_y,basement_y,hotwaterheating_y,airconditioning_y,parking_y,prefarea_y,furnishingstatus_y,Actuals,Pred
0,13300000,7420,4,2,3,yes,no,no,no,yes,...,1,0,0,0,1,2,1,0,13300000,8316365.7
1,12250000,8960,4,4,4,yes,no,no,no,yes,...,1,0,0,0,1,3,0,0,12250000,10972102.4
2,12250000,9960,3,2,2,yes,no,yes,no,no,...,1,0,1,0,0,2,1,1,12250000,7722553.8
3,12215000,7500,4,2,2,yes,no,yes,no,yes,...,1,0,1,0,1,3,1,0,12215000,8583871.6
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,...,1,1,1,0,1,2,0,0,11410000,7543649.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,1820000,3000,2,1,1,yes,no,yes,no,no,...,1,0,1,0,0,2,0,2,1820000,3722950.0
569,1767150,2400,3,1,1,no,no,no,no,no,...,0,0,0,0,0,0,0,1,1767150,2241161.7
570,1750000,3620,2,1,1,yes,no,no,no,no,...,1,0,0,0,0,0,0,2,1750000,2601606.0
571,1750000,2910,3,1,1,no,no,no,no,no,...,0,0,0,0,0,0,0,0,1750000,2594414.2
572,1750000,3850,3,1,2,yes,no,no,no,no,...,1,0,0,0,0,0,0,2,1750000,3244730.2

In [43]:
data_complete.to_csv('housing_dataset (dr2).csv')

In [44]:
feature_columns = ['bedrooms_y', 'bathrooms_y', 'stories_y', 'mainroad_y', 'guestroom_y', 
                   'basement_y', 'hotwaterheating_y', 'airconditioning_y',
                   'parking_y', 'prefarea_y', 'furnishingstatus_y', 'Actuals']
data_complete.drop(feature_columns, axis =1, inplace = True)

In [45]:
data_complete

,price,area,bedrooms_x,bathrooms_x,stories_x,mainroad_x,guestroom_x,basement_x,hotwaterheating_x,airconditioning_x,parking_x,prefarea_x,furnishingstatus_x,Pred
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,8316365.7
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,10972102.4
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,7722553.8
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,8583871.6
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,7543649.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,3722950.0
569,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,2241161.7
570,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,2601606.0
571,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,2594414.2
572,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,3244730.2

In [46]:
#rename the columns
rename_dict ={
    'bedrooms_x' : 'bedrooms', 
    'bathrooms_x' : 'bathrooms',
    'stories_x'  : 'stories',
    'mainroad_x': 'mainroad',
    'guestroom_x' : 'guestroom',
    'basement_x' : 'basement',
    'hotwaterheating_x' : 'hotwaterheating',
    'airconditioning_x' : 'airconditioning',
    'parking_x' : 'parking', 
    'prefarea_x': 'prefarea',
    'furnishingstatus_x' : 'furnishingstatus'}

data_complete.rename(columns=rename_dict, inplace=True)

In [47]:
data_complete

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,Pred
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,8316365.7
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,10972102.4
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,7722553.8
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,8583871.6
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,7543649.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,3722950.0
569,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,2241161.7
570,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,2601606.0
571,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,2594414.2
572,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,3244730.2